<!DOCTYPE html>
<html>
  <head>
    <title>Game Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="game-board">
      <div class="game-state">
        <h4 class="active-player">Total Active Player:0</h4>
      </div>
      <div class="row" id="game-board-container"></div>
    </div>
  </body>
</html>
